.button {
    height: 50px;
    background: green;
    border-radius: 10px;
    border: transparent;
    margin: 10px;
    padding: 15px;
}

.button :hover {
    background: lightgreen;
    cursor: pointer;
}

.button span {
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
}

.text {
    text-decoration: none;
}